.jumbotron {
   background-color: #121665;
   color: #d3d616; 
   margin-top: 20px;
   margin: 0px; }

.container {
   background-color: #fcfcfc;
   color: #060e6b; 
   margin-top: 50px;
   padding: 0px 15px; }

.col-sm-4 {
   padding-bottom: 10px; }


footer {
   padding: 10px 10px 0px 10px;
   background-color: #121665; 
   color: #d3d616; 
   margin-bottom: 0px;
   margin-top: 10px; }

.card-derecho {
	flex: 1 200px;
	margin-top: 10px;
   margin-left: 6px; }

.btn-contactar {
   width: 100%;
   border-radius: 0px; }

.tab-content {
   padding-top: 10px; }

