$azul: #121665;
$blanco: #ffffff;
$rojo: #b01807;
$amarillo: #ddeb60;
$verde: #0eb50b;
$negro : #050505;
$negrolight : #1f1b1b;

@mixin margenes ($top, $right, $bottom, $left) {
       margin-top: $top;
       margin-right: $right;
       margin-bottom: $bottom;
       margin-left: $left; 
       }
@mixin rellenos ($top, $right, $bottom, $left) {
       padding-top: $top;
       padding-right: $right;
       padding-bottom: $bottom;
       padding-left: $left;
       }

 body {
   background-color: $negro;
 }

.jumbotron {
   background-color: $negro;
   color: $amarillo; 
   @include margenes (10px, 0px, 0px, 0px);  
   }

nav.navbar {
    background-color: $negrolight;
    }
  
.container {
   background-color: $negro;
   color: $blanco;
   }

.modal-open .modal {
   color: $negro;
   }

.card-body {
   background-color: $negro;
   }

.card-derecho {
  flex: 1 200px;
  @include margenes (10px, 0px, 0px, 6px); 
   }

.btn-contactar {
   width: 100%;
   border-radius: 0px;
   background-color: $negro; 
   }

.col-sm-4 {
   @include rellenos (0px, 0px, 0px, 10px);
   }

.tab-content {
   @include rellenos (10px, 0px, 0px, 0px); 
   }

footer {
   @include rellenos (10px, 10px, 0px, 10px);
   background-color: $negro; 
   color: $amarillo; 
   @include margenes (10px, 0px, 0px, 0px); 
   }
