body {
  background-color: #050505; }

.jumbotron {
  background-color: #050505;
  color: #ddeb60;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }

nav.navbar {
  background-color: #1f1b1b; }

.container {
  background-color: #050505;
  color: #ffffff; }

.modal-open .modal {
  color: #050505; }

.card-body {
  background-color: #050505; }

.card-derecho {
  flex: 1 200px;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 6px; }

.btn-contactar {
  width: 100%;
  border-radius: 0px;
  background-color: #050505; }

.col-sm-4 {
  padding-top: 0px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 10px; }

.tab-content {
  padding-top: 10px;
  padding-right: 0px;
  padding-bottom: 0px;
  padding-left: 0px; }

footer {
  padding-top: 10px;
  padding-right: 10px;
  padding-bottom: 0px;
  padding-left: 10px;
  background-color: #050505;
  color: #ddeb60;
  margin-top: 10px;
  margin-right: 0px;
  margin-bottom: 0px;
  margin-left: 0px; }
